<!DOCTYPE html>
<title>Reader</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script type="text/javascript" src="/rbacdemo_war_exploded/js/jquery-1.9.1.js"></script>
<script type="text/javascript" src="/rbacdemo_war_exploded/js/bootstrap.min.js"></script>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">Disabled</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div>

        <div class="container text-center">
            <!-- <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked" style="width: 200px;text-align:center;">
                <li class="active">
                    <a href="#" data-toggle="collapse" data-target=".ok1">Home</a>
                    <ul class="nav nav-pills nav-stacked ok1 collapse">
                        <li name="collapse1"><a href="#">jmeter</a></li>
                        <li name="collapse1"><a href="#">EJB</a></li>
                    </ul>
                </li>
                <li class="active">
                    <a href="#" data-toggle="collapse" data-target=".ok2">SVN</a>
                    <ul class="nav nav-pills nav-stacked ok2 collapse">
                        <li><a href="#">C++</a></li>
                        <li><a href="#">EJB</a></li>
                    </ul>
                </li>
            </ul>
        </div>-->

            <div class="col-mid-6">
                <app-news></app-news>
            </div>

        </div>
    </nav>
</body>