<div class="container text-center">
    <div *ngFor="let news of NewsDatabase.News">
        <div *ngFor="let channel of news?.rss?.channel;">
            <h2 class="card-title">{{channel.title}}</h2>
            <hr>
            <div *ngFor="let item of channel.item;">
                <div class="card">
                    <div class="jumbotron">
                        <div class="card-body">
                            <h3 class="card-title">{{item.title}}
                                <!-- <hr>
                            <small>{{item.description}}</small> -->
                            </h3>
                            <p class="card-text">{{item.description}}</p>
                        </div>

                        <div class="card-foot">
                            <div class="float-end">
                                <a href="{{item.link}}" class="btn btn-primary">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>